# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
ENV/
.venv/

# Django
*.log
*.pot
*.py[cod]
db.sqlite3
media/
staticfiles/

# Environment
.env

# VSCode / IDEs
.vscode/
.idea/
*.swp

# Git
.DS_Store
*.egg-info/
dist/
build/